{% extends "base.html" %}
{% block content %}

<h2>Создать пост</h2>

<form method="POST">
  <div class="mb-3">
    <input name="title" class="form-control" placeholder="Заголовок">
  </div>

  <div class="mb-3">
    <textarea name="content" class="form-control" rows="4" placeholder="Текст"></textarea>
  </div>

  <div class="mb-3">
    <input name="tag" class="form-control" placeholder="Тег">
  </div>

  <div class="form-check">
    <input type="checkbox" name="private" class="form-check-input">
    <label class="form-check-label">Приватный</label>
  </div>

  <div class="form-check">
    <input type="checkbox" name="hidden" class="form-check-input">
    <label class="form-check-label">Скрытый</label>
  </div>

  <button class="btn btn-primary mt-3">Создать</button>
</form>

{% endblock %}